html, body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  min-width: 12.8em;
  min-height: 22.72em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color $time;
  color: #FFF;
}
body.dg-skills #web-nav .circle,
body.dg-portfolio #web-nav .circle,
body.dg-curriculum #web-nav .circle,
body.dg-contact #web-nav .circle {
  transition: top $time, left $time;
}
body.dg-skills #web-nav li.skills:hover,
body.dg-portfolio #web-nav li.portfolio:hover,
body.dg-curriculum #web-nav li.curriculum:hover,
body.dg-contact #web-nav li.contact:hover {
  cursor: default;
  background-color: transparent;
}
  body.dg-home {
    background-color: $orange;
  }
    body.dg-home #web-header h1 {
      color: $orange;
    }
    body.dg-home #web-nav .circle {
      display: none;
    }
  body.dg-skills, body.dg-skills #web-nav .circle {
    background-color: $green;
  }
    body.dg-skills #web-header h1 {
      color: $green;
    }
  body.dg-portfolio, body.dg-portfolio #web-nav .circle {
    background-color: $red;
  }
    body.dg-portfolio #web-header h1 {
      color: $red;
    }
  body.dg-curriculum, body.dg-curriculum #web-nav .circle {
    background-color: $violet;
  }
    body.dg-curriculum #web-header h1 {
      color: $violet;
    }
  body.dg-contact, body.dg-contact #web-nav .circle {
    background-color: $yellow;
  }
    body.dg-contact #web-header h1 {
      color: $yellow;
    }
  body.dg-skills #web-nav .circle {
    left: 0.8em;
  }
  body.dg-portfolio #web-nav .circle {
    left: 4.8em;
  }
  body.dg-curriculum #web-nav .circle {
    left: 8.8em;
  }
  body.dg-contact #web-nav .circle {
    left: 12.8em;
  }
h1, h2 {
  margin: 0;
}
@media only screen and (min-width: 30em) {
  #web-nav .circle {
    left: 0 !important;
  }
  body.dg-skills #web-nav .circle {
    top: 0;
  }
  body.dg-portfolio #web-nav .circle {
    top: 4em;
  }
  body.dg-curriculum #web-nav .circle {
    top: 8em;
  }
  body.dg-contact #web-nav .circle {
    top: 12em;
  }
}

.icon {
  fill: #FFF;
  max-width: 100%;
  max-height: 100%;
}
.web-section {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  padding-top: $menuPadd;
}
@media only screen and (min-width: 30em) {
  .web-section {
    padding-top: 0;
  }
}

#web-svg {
  display: none;
}

#web-header {
  width: 100%;
  background-color: $dark;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  h1 {
    cursor: pointer;
    transition: color $time;
    text-align: center;

    em {
      color: #FFF;
      font-style: normal;
    }
  }
}
@media only screen and (min-width: 30em) {
  #web-header {
    width: 4em;
    height: 100%;

    h1 {
      transform: rotate(-90deg);
      margin-top: 3em;
    }
  }
}

#web-nav {
  position: relative;
  margin: .25em auto .5em;
  width: 16em;
  font-size: .7em;

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
  }

  li {
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $time;
    position: relative;
    margin: 0 .8em;
  }
  li:hover {
    background-color: #444;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    width: 2.4em;
    height: 2.4em;
    left: 0;
    z-index: -1;
    transition: background-color $time;
  }

  .circle.dg-active {
    transition: top $time;
  }
}
@media only screen and (min-width: 30em) {
  #web-nav {
    position: absolute;
    bottom: 1em;
    width: auto;
    margin: 0 .8em;
    font-size: 1em;

    ul {
      display: block;
    }

    li {
      margin: 1.6em 0 0;
    }

    .circle {
      margin-top: 1.6em;
    }
  }
}

@media only screen and (min-width: 30em) {
  #web-main {
    margin-left: 4em;
  }
}
